.about-container {
  background-color: #b8dde3;
  padding: 10rem;
}

.about img {
  margin-top: 3rem;
}
.about-section-container {
  padding: 20px;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}
.about-section-container img {
  width: 600px;
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  .about {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about img {
    width: 400px;
    text-align: center;
  }
  .about-container {
    padding: 4rem;
  }
}
