img {
  width: 600px;
  padding: 10px;
}
.intro-section-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.course-support {
  color: #9370db;
}


@media screen and (max-width: 800px) {
  .intro-section-container {
    flex-wrap: wrap;
  }
  .intro-image {
    width: 100%;
  }
}
